.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auction-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sort-by {
  width: 100px;
}

.results {
  margin-bottom: 30px;
}

.api-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  margin-bottom: 30px;
}

.num-of-auctions {
  width: 110px;
}

.content {
  display: flex;
  flex-direction: row;
}