.auction-card {
  background-color: #f8f8f8;
  padding: 40px;
  margin: 25px;
  font-weight: bold;
}

.card-content {
  margin-bottom: 25px;
  cursor: pointer;
}

.card-content div {
  text-align: left;
  margin: 15px 0px;
  color: #1976d2;
}